<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Teaser: White</string>
	<string>Teaser: Black</string>
	<string>Teaser: Red</string>
	<string>Teaser: Blue</string>
	<string>Teaser: Green</string>
	<string>Teaser: Yellow</string>
	<string>Teaser: Purple</string>
	<string>Teaser: Cyan</string>
</array>
</plist>
